/* ALL SCREENS */
body {
    background-color: #00D991;
    margin: 0px;
}


/* WELCOME SCREEN */
.welcome-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-h1 {
    font-family: "Bree Serif", serif;
    color: #3C91E6;
}

/* includes pixels */
.welcome-h3 {
    font-family: "Lato", sans-serif;
    color: #3C91E6;
    margin-top: 2px;
}

/* includes pixels */
.welcome-btn {
    width: 200px;
    height: 40px;
    background-color: #F5CB5C;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    color: white;
    border: none;
}


/* CHOOSING BUTTONS SCREEN */
.choose-btns-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-btns-h1 {
    font-family: "Bree Serif", serif;
    color: #3C91E6;
    align-self: center;
    margin: 21.44px 30px;
}

.choose-btns-h3 {
    font-family: "Lato", sans-serif;
    color: #3C91E6;
    margin-top: 2px;
}

.choose-btns-div-drop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choose-btns-h3-instructions {
    font-family: "Bree Serif", serif;
    color: #3C91E6;
    margin-top: 50px;
}

.choose-btns-div-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #13CE66;
    width: 40vh;
    height: 30vh;
    border-radius: 30px;
}

.choose-btns-user-btns {
    width: 150px;
    height: 30px;
    background-color: #47525E;
    border-radius: 8px;
    border: 2px dashed #000000;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}

.choose-btns-menu-btns {
    width: 100px;
    height: 30px;
    background-color: #F5CB5C;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 10px 30px;
    border: none;
    cursor: move;
}

button:nth-child(6) {
    height: 40px;
}


/* not working */
.draggable .dragging {
    background-color: red;
}

.choose-btns-clicked {
    /* background-color:#3C91E6; */
    background-color:#3C91E6;
}

.choose-btns-next-btn {
    margin-top: 50px;
    width: 300px;
    height: 35px;
    border-radius: 33px;
    background-color: #13CE66;
    color: white;
    border: none;
    font-family: "Lato", sans-serif;
}

/* MAIN SCREEN */
.main-scr-flex-container {
    display: flex;
    flex-direction: column;
}

.main-scr-nav-bar {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #13CE66;
}

.main-scr-points {
    display: inline;
    font-family: "Bree Serif", serif;
    color: #3C91E6;
}

.fa-cog {
    float: right;
}

.main-scr-user-btns-display {
    width: 100%;
    /* height: 200px; */
    /* background-color: #00D991; */
    background-color: #00D991;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-scr-user-btns {
    width: 150px;
    height: 30px;
    background-color: #F5CB5C;
    border-radius: 8px;
    border: none;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 10px;
    text-align: center;
    /* padding-top: 10px; */
    padding: 10px 4px 30px 4px;
}

#map {
    display: flex;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 414px) {
    .choose-btns-div-menu {
        width: 45vh;
    }
}

@media (max-width: 375px) and (min-width: 375px) {
    .choose-btns-div-menu {
        width: 40vh;
    }

    .mapboxgl-ctrl.mapboxgl-ctrl-group {
        margin-right: 30px;
    }
}

@media (max-width: 375px) and (min-width: 375px) and (max-height: 667px) and (min-height: 667px)  {
    .choose-btns-div-menu {
        width: 50vh;
        height: 35vh;
    }

    .choose-btns-next-btn {
        margin-top: 80px;
    }
}